<ul class="w3-navbar w3-border w3-light-grey">
    <li class=""><a href="/">Home</a></li>
    <li class="w3-right"><a class="w3-hover-grey" href="/contact">Contact</a></li>
    <li class="w3-right"><a class="w3-hover-grey" href="/experience">Experience</a></li>
    <li class="w3-right"><a class="w3-hover-grey" href="/about">About</a></li>
</ul>
{{outlet}}
